<%= link_to("Previous Page", :action => "list") %>

<div class="new post">
  <h2>Create a New Posts</h2>
  <%= form_for(:post, :url => {:action => "create"}) do |f| -%>
    <%= render(:partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Create New Post", :style => "margin: 1.5em 0 0 100px;") %>
    </div>
  <% end -%>
</div>