<% @page_title = "New Post" %>

<%= link_to("<< Back to List", { :controller => "blog_posts"}) %>

<%#= link_to("<< Back to List", {:action => 'list', :subject_id => @subject_id}, :class => 'back-link') %>



<div class="post new">
  <h2>Create Post</h2>

  <%= form_for(:blog_post, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create New Post", :style => "margin: 1.5em 0 0 100px;") %>
    </div>
    
  <% end %>
</div>
