<h2><%#= @page.name %></h2>
<h2><%#= @page.id %></h2>
<h2><%#= @subject.id %></h2>

<% @page.sections.each do |section| %>
  <div class="section">
    <% case section.content_type
       when 'HTML' %>
       	 <h1><%= section.name %></h1>
         <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
    <% when 'text' %>
    	<h1><%= section.name %></h1>
        <p><%= section.content %></p>
    <% end %>
  </div>
<% end %>
